# CDK
cdk/node_modules/
cdk/dist/
cdk/cdk.out/
cdk/*.js
cdk/*.d.ts
cdk/bin/*.js
cdk/bin/*.d.ts
cdk/lib/*.js
cdk/lib/*.d.ts

# 認証情報・シークレット
docs/10_test_users.md

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
